<div class="flex flex-col flex-grow p-4" [ngClass]="{'item-selected': selected}">
  <h2>CODE: {{ dock.Code }}</h2>

  <div class="flex flex-row">
    <h2>STATE: {{ isEdit ? null : dock.State }}</h2>
    <input class="ml-2" *ngIf="isEdit" type="string" [(ngModel)]="newDockState">
  </div>

  <div class="flex flex-row">
    <h2>CITY: {{ isEdit ? null : dock.City }}</h2>
    <input class="ml-2" *ngIf="isEdit" type="string" [(ngModel)]="newDockCity">
  </div>

  <div class="flex flex-row">
    <h2>ADDRESS: {{ isEdit ? null : dock.Address }}</h2>
    <input class="ml-2" *ngIf="isEdit" type="string" [(ngModel)]="newDockAddress">
  </div>

  <div class="flex flex-row">
    <h2>BIKE DOCK NO.: {{ isEdit ? null : dock.BicycleDockNumber }}</h2>
    <input *ngIf="isEdit" type="number" [(ngModel)]="newBicycleDockNumber" min="1" max="50">
  </div>

  <h2>BIKE COUNT: {{ dock.BicycleCount }}</h2>
</div>

<div *ngIf="!isAdmin" (click)="toggleFind()" class="flex flex-col justify-center bg-teal text-white text-center cursor-pointer px-3" [ngClass]="{'item-btn-selected': selected, 'item-btn': !selected}">
  <h2 *ngIf="!selected">FIND</h2>
  <mat-icon class="mx-auto icon-size" *ngIf="selected">done</mat-icon>
</div>

<div *ngIf="isAdmin" class="flex flex-col justify-between text-white text-center mx-auto">
  <div (click)="toggleEdit()" class="flex flex-col justify-center flex-grow cursor-pointer px-3" [ngClass]="isEdit ? 'bg-orange' : 'bg-teal'"><mat-icon class="icon-size">{{isEdit ? 'close' : 'edit'}}</mat-icon></div>
  <div *ngIf="isEdit" (click)="submitEditDock()" class="flex flex-col justify-center flex-grow bg-teal cursor-pointer px-3"><mat-icon class="icon-size">done</mat-icon></div>
  <div *ngIf="!isEdit" (click)="submitRemoveDock()" class="flex flex-col justify-center flex-grow bg-orange cursor-pointer px-3"><mat-icon class="icon-size">delete</mat-icon></div>
</div>
